.env

/.tmp.driveupload/
/.tmp.drivedownload/
/bazarr/
/gluetun/
/lidarr/
/organizr/
/overseerr/
/pihole/
/plex/
/qbittorrent/
/radarr/
/readarr/
/openvpn/
/sabnzbd/
/sonarr/
/wireguard/
calibre/
dizquetv/
ersatztv/
lets-encrypt/
pseudotv/
swag/
tdarr/
prowlarr/
nextcloud/
nextcloud-data/
audiobookshelf/
netdata/
netdataconfig/
media/
/mailserver/
server.env
mailserver.env
*.env
google-drive-cloud-config.json

/couchbase
/mongodb
/syncthing
/.idea
